<footer>
  <div class="row">
    <div>
      <ul class="footer__contact-list list--no-bullets">
        <li class="h4">Amt der Kärntner Landesregierung</li>
        <li><strong>Abteilung 14 – Kunst und Kultur</strong></li>
        <li>Burggasse 8</li>
        <li>9021 Klagenfurt am Wörthersee</li>
        <li>
          <a href="tel:00435053634006" class="link">+43 (0) 50 536 – 34006</a>
        </li>
        <li>
          <a href="mailto:abt14.post@ktn.gv.at" class="link"
            >abt14.post@ktn.gv.at</a
          >
        </li>
      </ul>
    </div>

    <div class="logo3">
      <img
        src={`/${import.meta.env.BASE_URL}/images/LandKaernten_Logo.png`}
        alt="Logo vom Land Kärnten"
        width="336"
        height="39"
      />
      <span>Eine Initiative der Kärntner Landesregierung</span>
    </div>
  </div>
</footer>

<style>
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 50px);
    background-color: lightgrey;
    margin: 25px;
    padding: 50px 25px;

    .row {
      display: flex;
      justify-content: space-between;

      .logo3 {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
    }
  }
</style>
